<template>
    <Question question="Where is my answer?">
    <p>Your answer will appear when you use the correct URL</p>
    <p>¯\_(ツ)_/¯</p>
    <img src="https://www.wihel.de/wp-content/uploads/2016/12/wihel_not_found.gif" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
    img {
        max-width: 500px;
        width: 100%;
    }
</style>
