<template>
  <div class="home">
    <a :href="publicPath"><AppIcon /></a>
    <h1>Welcome to the Lambo Quiz</h1>
    <p>Question:</p>
    <component :is="question"></component>
  </div>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'
import AppIcon from '@/components/AppIcon.vue'
import Question01 from '@/views/question_01.vue'
import Question02 from '@/views/question_02.vue'
import Question03 from '@/views/question_03.vue'
import Question04 from '@/views/question_04.vue'
import Question05 from '@/views/question_05.vue'
import Question06 from '@/views/question_06.vue'
import Question07 from '@/views/question_07.vue'
import Question08 from '@/views/question_08.vue'
import Question09 from '@/views/question_09.vue'
import Question10 from '@/views/question_10.vue'
import Question11 from '@/views/question_11.vue'
import Question12 from '@/views/question_12.vue'
import Question13 from '@/views/question_13.vue'
import Question14 from '@/views/question_14.vue'
import Question15 from '@/views/question_15.vue'
import Question16 from '@/views/question_16.vue'
import Question17 from '@/views/question_17.vue'
import Question18 from '@/views/question_18.vue'
import Default from '@/views/default.vue'

export default {
  name: 'Home',
  props: {
    id: {
      type: String,
      required: false
    }
  },
  data: () => ({
    publicPath: process.env.BASE_URL
  }),
  components: {
    Question,
    AppIcon,
    Default,
    Question01,
    Question02,
    Question03,
    Question04,
    Question05,
    Question06,
    Question07,
    Question08,
    Question09,
    Question10,
    Question11,
    Question12,
    Question13,
    Question14,
    Question15,
    Question16,
    Question17,
    Question18
  },
  computed: {
    question () {
      switch (this.id) {
        case 'youtube':
          return 'Question01'
        case 'wihel':
          return 'Question02'
        case 'git':
          return 'Question03'
        case 'jelena':
          return 'Question04'
        case 'martin_p':
          return 'Question05'
        case 'helen':
          return 'Question06'
        case 'nino':
          return 'Question07'
        case 'dominik':
          return 'Question08'
        case 'bootchess':
          return 'Question09'
        case 'autobahn':
          return 'Question10'
        case 'breath':
          return 'Question11'
        case 'venus':
          return 'Question12'
        case 'instagram_uploads':
          return 'Question13'
        case 'gmail_garfield':
          return 'Question14'
        case 'gamer_age':
          return 'Question15'
        case 'bug':
          return 'Question16'
        case 'math':
          return 'Question17'
        case 'cow_milk':
          return 'Question18'
        default:
          return 'Default'
      }
    }
  }
}
</script>

<style scoped>
a {
    text-decoration: none !important;
}
</style>
