<template>
    <Question question="How many views has the most watched youtube video?">
        <p>6,455,838,224</p>

        <p>Luis Fonsi – Despacito ft. Daddy Yankee</p>

        <p>Source: <a href="https://www.makeuseof.com/tag/most-watched-youtube-videos/" target="_blank">makeuseof.com</a></p>

        <div class="video-container-wrapper">
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/kJQP7kiw5Fk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-container-wrapper {
max-width: 100%;
width: 600px;
left: 0;
right:0;
margin:auto;
}
</style>
