<template>
    <Question question="How many people live in Rothemühl? (Little village where Martin Piontek grew up)">
        <p>306</p>

        <p>Source: <a href="https://de.wikipedia.org/wiki/Rothem%C3%BChl" target="_blank">Wikipedia</a></p>

        <img src="https://media.giphy.com/media/McgWV3RzDQZZNdFWRA/giphy.gif" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
