<template>
    <Question question="How long do you have to walk from Hamburg to Novi Sad? (Jelenas hometown)">
        <p>266 hours</p>

        <p>Source: <a href="https://www.google.de/maps/dir/Hamburg/Novi+Sad,+Serbien/@49.3222307,10.4285322,6z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x47b161837e1813b9:0x4263df27bd63aa0!2m2!1d9.9936819!2d53.5510846!1m5!1m1!1s0x475b10613de93455:0xb6f7d683724fe28!2m2!1d19.8335496!2d45.2671352!3e2" target="_blank">Google Maps</a></p>

        <img src="https://media.giphy.com/media/l2Sqc3POpzkj5r8SQ/giphy.gif" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
