<template>
    <Question question="How many pictures are uploaded every day to Instagram?">

        <p>95.000.000</p>

        <p>Source: <a href="https://lifehacks.io/facts-about-the-internet/" target="_blank">lifehacks.io/facts-about-the-internet</a></p>

        <img src="https://media.giphy.com/media/W98haDXYQUPRu/giphy.gif" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
