<template>
    <Question question="GMail was not invented by Google, they just acquired the service! What did the G intially stand for?">

        <p>Garfield</p>

        <p>Source: <a href="https://lifehacks.io/facts-about-the-internet/" target="_blank">lifehacks.io/facts-about-the-internet</a></p>

        <img src="https://media.giphy.com/media/14yGabR9fjRbLa/giphy.gif">

        <p>And it looked like this:</p>

        <img src="@/assets/gmail_garfield.png" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
