<template>
    <Question question="Which planet is the only planet in our Solar System to spin clockwise?">

        <p>Venus</p>

        <p>Source: <a href="https://www.howitworksdaily.com/15-amazing-science-facts-that-will-blow-your-mind/" target="_blank">howitworksdaily.com</a></p>

        <img src="@/assets/venus.jpg" style="max-width:320px;width:100%;" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
