<template>
    <Question question="When was the term bug introduced?">

        <p>1878</p>

        <p>Source: <a href="https://thenextweb.com/insider/2016/02/26/8-facts-every-computer-programmer-should-know/" target="_blank">thenextweb.com</a></p>

        <img src="https://media.giphy.com/media/11ZSwQNWba4YF2/giphy.gif" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
