<template>
    <Question question="What is the world record for a human to hold the breath (in minutes)?">

        <p>22 minutes</p>

        <p>Source: <a href="https://www.outsideonline.com/1784106/how-long-can-humans-hold-their-breath" target="_blank">outsideonline.com</a></p>

        <img src="@/assets/breath.jpg" style="max-width:320px;width:100%;" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
