<template>
    <Question question="How many git commits to group lambo has been made?">
        <p>21.891</p>

        <p>Source: <a href="https://gitlab.esome.info/" target="_blank">gitlab.esome.info</a></p>

        <img src="https://media.giphy.com/media/cFkiFMDg3iFoI/giphy.gif" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
