<template>
    <Question question="How many working days did Nino spend working for esome? (no weekends or holidays - until 18.03.2020)">
        <p>639 days</p>

        <p>Source: <a href="https://www.smart-rechner.de/arbeitstage/rechner.php" target="_blank">smart-rechner.de</a></p>

        <img src="@/assets/nino.jpeg" style="max-width:320px;width:100%;" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
