<template>
    <Question question="How many blog posts are on Martins website wihel.de? (since Mai 2009)">
        <p>8.209</p>

        <p>Source: Backend of <a href="https://www.wihel.de" target="_blank">wihel.de</a> ;)</p>

        <a href="https://www.wihel.de" target="_blank"><img src="@/assets/wihel.png" style="max-width:320px;width:100%;" /></a>
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
