<template>
    <Question question="Who gave the the ingenious quote: 'Just because it's bad, doesn't mean it's cheap!'">
        <img src="https://media.giphy.com/media/clnjr4IYZdbqe27ZBP/giphy.gif">
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
