<template>
    <Question question="How long does it take to drive by car to Nowosibirsk, Russia? (Helen's hometown)">
        <p>67 hours</p>

        <p>Source: <a href="https://www.google.de/maps/dir/Hamburg/Nowosibirsk,+Oblast+Nowosibirsk,+Russland/@52.7596301,28.7100475,4z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x47b161837e1813b9:0x4263df27bd63aa0!2m2!1d9.9936819!2d53.5510846!1m5!1m1!1s0x42dfe5e190cc4d97:0x9b3a0673e1d3e985!2m2!1d82.9357327!2d55.0083526!3e0" target="_blank">Google Maps</a></p>

        <img src="https://media.giphy.com/media/VLpI6OOhZxYEU/giphy.gif" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
