<template>
    <Question question="How many glasses of milk does a cow give over its whole lifetime?">

        <p>200.000</p>

        <p>Source: <a href="https://www.thedodo.com/16-amazing-animal-facts-1094218100.html" target="_blank">thedodo.com</a></p>

        <img src="@/assets/cow_milk.jpg" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
