<template>
    <Question question="How many kilometers Autobahn does exist in Germany?">

        <p>13.009 kilometers</p>

        <p>Source: <a href="https://de.wikipedia.org/wiki/Autobahn_(Deutschland)" target="_blank">wikipedia.de</a></p>

        <img src="@/assets/autobahn.jpg" style="max-width:320px;width:100%;" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
