<template>
    <Question question="Whats the average age of a gamer (in years)?">

        <p>34 years</p>

        <p>Source: <a href="https://techjury.net/stats-about/video-games-industry/#gref" target="_blank">techjury.net</a></p>

        <p><img src="https://media.giphy.com/media/cgCMnZr84zE40/giphy.gif" /></p>

        <p><img src="@/assets/gamer_age.jpg" /></p>
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
