<template>
    <Question question="In a group of 23 people, how likely is it that at least two people have the same birthday? (in percent)">

        <p>50</p>

        <p>Source: <a href="https://medium.com/i-math/the-birthday-problem-307f31a9ac6f" target="_blank">medium.com/i-math</a></p>

        <img src="https://media.giphy.com/media/3o7btPCcdNniyf0ArS/giphy.gif" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
