<template>
    <Question question="How many bytes is the smallest game ever made? (BootChess)">

        <p>487 bytes</p>

        <p>The image below shows the game and has a size of 1.262 bytes ...</p>

        <p>Source: <a href="https://gizmodo.com/the-smallest-game-of-chess-takes-up-just-487-bytes-1682237419" target="_blank">gizmodo.com</a></p>

        <img src="@/assets/bootchess.png" style="max-width:320px;width:100%;" />
    </Question>
</template>

<script>
// @ is an alias to /src
import Question from '@/components/Question.vue'

export default {
  name: 'Home',
  components: {
    Question
  }
}
</script>

<style scoped>
img {
    max-width: 500px;
    width: 100%;
}
</style>
