<template>
  <figure>
    <div>
      <svg class="margin-center" viewBox="0 0 160 160" :width="width" :height="height">
        <defs>
          <linearGradient id="esome-ci">
            <stop offset="0%" stop-color="#CCFF00"/>
            <stop offset="50%" stop-color="#66FF00">
              <animate attributeName="stop-color" values="#CCFF00; #66FF00; #14FB8B; #66FF00; #CCFF00;" dur="2s"
                       repeatCount="indefinite"></animate>
            </stop>
            <stop offset="100%" stop-color="#14FB8B"/>
          </linearGradient>
          <circle id="background" cx="80" cy="80" r="50"/>
          <circle id="bg-overlay" cx="80" cy="80" r="45">
            <animate attributeName="r" values="45; 40; 47; 45;" dur="3s" repeatCount="indefinite"></animate>
          </circle>
        </defs>
        <g>
          <use xlink:href="#background" fill="url(#esome-ci)" transform="rotate(-45, 80, 80)">
            <animateTransform
              attributeName="transform"
              type="rotate"
              from="0 80 80"
              to="360 80 80"
              dur="2s"
              repeatCount="indefinite"/>
          </use>
        </g>
        <use xlink:href="#bg-overlay" fill="white"/>
        <text font-size="20px"
              font-family="ObjectSans"
              x="80"
              y="88"
              text-anchor="middle">
          LAMBO
          <animate
            attributeName="font-size"
            values="20px; 25px; 20px;"
            dur="2s"
            repeatCount="indefinite">
            LAMBO
          </animate>
        </text>
      </svg>
    </div>
  </figure>
</template>

<script>
export default {
  props: {
    width: {
      required: false,
      default: 160
    },
    height: {
      required: false,
      default: 160
    }
  }
}
</script>

<style scoped>

.margin-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

figure {
  padding: 0;
  margin: 0;
}

text {
  font-family: Roboto, sans-serif !important;
}

</style>
