<template>
  <div class="wrapper">
    <input type="checkbox" id="toggle-1">
    <label for="toggle-1" class="question">{{question}}</label>
    <div class="hint"><label for="toggle-1" class="question"><div class="hint">(Click to reveal the answer)</div></label></div>
    <div class="answer-headline">Answer:</div>
    <div class="answer">
      <slot>You forgot to provide the answer</slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Question',
  props: {
    question: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.question {
  font-weight: bold;
}

.wrapper:hover {
  display:block;
}

.answer {
  margin-top: 20px;
}

label {
  margin-top: 0px !important;
  border: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

.hint {
  font-weight: normal;
}

/* Checkbox Hack */

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}
label {
  -webkit-appearance: push-button;
  -moz-appearance: button;
  display: inline-block;
  margin: 60px 0 10px 0;
  cursor: pointer;
  color:black;
}

/* Default State */
div .answer {
   display:none;
}

div .answer-headline {
   display:none;
}

/* Toggled State */
input[type=checkbox]:checked ~ .answer {
   display:block;
   white-space: pre-wrap;
   word-wrap: break-word;
}

input[type=checkbox]:checked ~ .answer-headline {
   display:block;
   white-space: pre-wrap;
   word-wrap: break-word;
}

input[type=checkbox]:checked ~ .answer-headline {
   font-weight: bold;
}

input[type=checkbox]:checked ~ .question {
   font-weight: normal;
}

input[type=checkbox]:checked ~ .hint {
   display:none !important;
}

</style>
